<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= @item.name %>
    </p>

    <p>
      <strong>Amount:</strong>
      <%= @item.amount %>
    </p>

    <p>
      <strong>List:</strong>
      <%= @item.list.name %>
    </p>

  </div>
</div>

<br>

<%= link_to 'Back', items_path, class: 'btn btn-secondary' %>
<%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-primary' %>
